<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
<div class="container">

    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">RFC-3161 TS-Tool Web</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/uploader">Uploader</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Document</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">History</a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <!-- page header -->
        <h1 class="pb-2 mt-4 mb-2 border-bottom">保存済みドキュメント一覧</h1>

        <!-- alert -->
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${showAddDocument}">
            <strong>ドキュメントが追加されました</strong>.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${showUpdateDocument}">
            <strong>ドキュメントの更新が完了しました</strong>.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${showDeleteDocument}">
            <strong>ドキュメントの削除が完了しました</strong>.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <!-- search form -->
        <form class="col s6" method="GET" action="/document">
            <!-- input group -->
            <div class="input-group mb-3">
                <span class="input-group-text p-3" style="width: 150px" id="document-search-keyword">検索キーワード</span>
                <input type="text" class="form-control" name="keyword" th:value="${keyword}"
                       placeholder="検索キーワードを入力してください" aria-label="keyword">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text p-3" style="width: 150px" id="document-search-startdate">日時範囲(from)</span>
                <input type="date" name="startDate" class="form-control" th:value="${startDate}" />
                <span class="input-group-text p-3" style="width: 150px" id="document-search-enddate">日時範囲(to)</span>
                <input type="date" name="endDate" class="form-control" th:value="${endDate}" />
            </div>

            <!-- submit button -->
            <div class="input-group mb-3">
                <input type="submit" class="btn btn-primary" value="ドキュメント検索" />
            </div>
        </form>

        <!-- pagination bar -->
        <div class="my-4">
            <span>ページ:&nbsp;</span>

            <a th:if="${documents.hasPrevious()}" th:href="@{/document(page=${documents.number - 1})}">前へ</a>

            <th:block th:if="${documents.totalPages le 1}">
            <span>1</span>
            </th:block>

            <th:block th:if="${documents.totalPages gt 1}">
            <th:block th:each="i:${#numbers.sequence(0, documents.totalPages-1)}">
            <span th:if="${i}==${documents.number}" th:text="${i+1}"> </span>
            <a th:if="${i}!=${documents.number}" th:href="@{/document(page=${i})}">
                <span th:text="${i+1}"></span>
            </a>
            </th:block>
            </th:block>

            <a th:if="${documents.hasNext()}" th:href="@{/document(page=${documents.number + 1})}">次へ</a>
        </div>

        <!-- table -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="col-md-1">ID</th>
                    <th scope="col" class="col-md-3">タイトル</th>
                    <th scope="col" class="col-md-4">内容説明</th>
                    <th scope="col" class="col-md-2">作成日時</th>
                    <th scope="col" class="col-md-2">操作</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="doc : ${documents.content}">
                <tr class="align-middle">
                    <td th:text="${doc.id}"></td>
                    <td th:text="${doc.title}"></td>
                    <td th:text="${doc.description}"></td>
                    <td th:text="${#temporals.format(doc.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
                    <td>
                        <a th:href="${doc.getDetailPageLink()}" class="btn btn-primary" role="button">詳細</a>
                        <a th:href="${doc.getDownloadApiLink()}" class="btn btn-light" role="button">ファイルDL</a>
                    </td>
                </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</div>

<!-- javascript-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>